.css-button-fully-rounded--sand {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #adb5bd;
  background: #adb5bd;
}
.css-button-fully-rounded--sand:hover {
  background: #fff;
  color: #adb5bd;
}
